/* Tomorrow Night Theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* https://github.com/jmblog/color-themes-for-highlightjs */

/* Tomorrow Comment */
.hljs-comment {
  color: var(--lightergrey);
}

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant,
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name {
  color: color-mix(in srgb, color-mix(in srgb, var(--vine) 70%, var(--blue) 10%), var(--white) 20%);
}

.hljs-function {
  color: color-mix(in srgb, var(--white), var(--vine) 30%);
}

.hljs-keyword {
  color: color-mix(in srgb, var(--vine), var(--black) 15%);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: var(--darkergrey);
  color: var(--white);
}

.hljs-addition {
  color: var(--green);
}

.hljs-deletion {
  color: var(--red);
}
