name: Checks

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: self-hosted
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - run: nix flake check -L
